* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
}

.nav_links {
	width: 100%;
}
.card_buttons {
	width: 100%;
	margin: 5px;
}

.main_content {

}

.card_image {
	height: 350px;
}